.dropZone {
    padding: 110px 50px;
    border: 2px dashed #3688d3;
    border-radius: 4px;
    background-color: #f3f3f3;
    cursor: pointer;
}

.active-drop {
    border-color: #61d889;
    background-color: #faf8f8;
}