.card {
    border: none !important;
    height: 25rem;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.title {
    color: #000;
}

.price {
    color:#3688D3;
    font-weight: bold;
}

.hvr-card {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-card:hover,
.hvr-card:focus,
.hvr-card:active {
    transform: scale(1.04);
}