header {
    background-color: #1563AB;
    color: white;
    font-weight: 100;
}

.header-container {
  display: inline-block;
}

.navlink {
  color: rgba(246, 248, 252, 0.6);
  border-bottom: 0px !important;
}

.active span {
  color: #fff;
  border-bottom: 2px solid #cba647 !important;
}