.searchInput {
    border: none !important;
}

.searchInput:focus {
    border-color:rgba(100,100,100,1)!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.searchBar {
    background-color: #fff;
    font-size: 2em;
}
