.card {
    border: none !important;
    
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.title {
    color: #464f6c;
}

.publisher {
    color: #464f6c !important;
    background-color: #d5d7e0 !important;
}

.date {
    color: #959bb2;

}